@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

nav{
background: rgb(2,0,36);
background: linear-gradient(52deg, rgba(2,0,36,1) 15%, rgba(2,43,73,1) 56%, rgba(7,59,97,0.9589371980676329) 100%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
}
